{% extends 'layout.html' %} 
{% block title %} About Us {% endblock %}

{% block content %}


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Hola, Gracias por estar aqui!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Somos un grupo de estudiantes de la Universidad Nacional de San Agustin de la carrera de Ingenieria de Telecomunicaciones. Este proyecto tiene como enfoque el registro y la emision de certificados Covid-19. Esto es una version beta por lo cual esta en constante desarrollo.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{url_for('static', filename='images/aboutus.jpg')}}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>

{% endblock %}