<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<div class="box_1">
    <h2>Emi-Covid</h2>
    <h2>INFORME DE RESULTADO: <span>{{ifr_resultado}}</span></h2>
</div>
<div class="box_2">
    <h2>IDENTIFICACIÓN DEL PACIENTE: <span>{{name_paciente}}</span></h2>
    <h2>TIPO DE DOCUMENTO: <span>{{tipodoc_paciente}}</span> <span class="h2_doc">NRO DE DOCUMENTO:</span> <span>{{nrodoc_paciente}}</span></h2>
    <h2>DIRECCIÓN/UBICACIÓN: <span>{{direccion_paciente}}</span></h2>
</div>
<div class="box_3">
    <h2>LUGAR DE MUESTRA:<span> {{lugar_prueba}}</span></h2>
</div>
<div class="box_4">
   <table>
        <tr class="tr_1">
            <th class="column_table" colspan="4">TIPO DE MUESTRA: <span>{{tipo_muestra}}</span><span class="column_table"> FECHA DE OBTENCIÓN:</span> <span>{{fecha_muestra}}</span></th>
        </tr>
        <tr class="tr_2">
            <th class="th_2">FECHA DE RESULTADO</th>
            <th class="th_2">ANALISIS</th>
            <th class="th_2">MÉTODO</th>
            <th class="th_2">RESULTADO</th>
        </tr>
        <tr>
            <td><span>{{fecha_resultado}}</span></td>
            <td><span>{{analisis_prueba}}</span></td>
            <td><span>{{metodo_prueba}}</span></td>
            <td><span>{{resultados_prueba}}</span></td>
        </tr>
   </table>
</div>
<div class="box_5">
    <h2>Valores de decisión clínica:</h2>
    <p>{{decision_clinica}}</p>
</div>
<div class="box_6">
    <h2>Rango de Referencia:</h2>
    <p>{{rango_referencia}}</p>
</div>
<div class="box_7">
    <h2>Responsable de la prueba: <span>{{lugar_prueba}}</span></h2>
</div>
<div class="box_8">
    <p>"Para el diagnóstico es necesario considerar la información epidemiológica, clínica y de laboratorio."</p>
</div>
<div class="box_9">
    <hr>
    <p>Para verificar la autenticidad e integridad de este Informe ingrese a la URL: https://consultascovid19.minsa.gob.pe/ deberá tener la validación del paciente</p>
</div>
<footer>
    <p>Pagina 1 de 1</p>
    <p>Fecha y hora de impresión: {{fecha_actual}}</p>
</footer>

