{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename='images/hover_emicovid.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Cover Emi-Covid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenidos a Emi-Covid</h1>
        <p class="lead">El sistema de registro y emision de pruebas Covid 19</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/login" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Login</a>
          <a href="/about" type="button" class="btn btn-outline-secondary btn-lg px-4">About Us</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}